:root {
  --color-bg: #242424;
  --color-bg-card: #474747;
  --color-bg-sidebar: #1e1e1e;
  --color-border-sidebar: #474747;
  --color-text: #ffffff;
  --color-accent: #00da2465;
  --color-accent-dark: #009a18;
  --color-link: #eaffee;
  --color-link-hover: #b0e6b8;
  --color-shadow: #aaaaaa;
  --color-shadow-hover: #24be0560;
  --color-icon: #ffffff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

a {
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 3.2em;
}
